$font-barlow: 'Barlow', sans-serif;
$font-fraunces: 'Fraunces', sans-serif;

$red-400: hsl(7, 99%, 70%);
$yellow-500: hsl(51, 100%, 49%);
$graphic-design-text: hsl(167, 40%, 24%);
$photography: hsl(198, 62%, 26%);
$footer: hsl(167, 34%, 41%);

$grey-950: hsl(212, 27%, 19%);
$grey-600: hsl(213, 9%, 39%);
$grey-550: hsl(232, 10%, 55%);
$grey-400: hsl(210, 4%, 67%);
$white: hsl(0, 100%, 100%);

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

body{
  margin: 0;
}

.page-navi{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .navi-wrapper{
    position: relative;
  }

  #navi-mobile-wrapper{
    position: absolute;
    bottom: -30px;
  }
}