$font-barlow: 'Barlow', sans-serif;
$font-fraunces: 'Fraunces', sans-serif;

$red-400: hsl(7, 99%, 70%);
$yellow-500: hsl(51, 100%, 49%);
$graphic-design-text: hsl(167, 40%, 24%);
$photography: hsl(198, 62%, 26%);
$footer: hsl(167, 34%, 41%);

$grey-950: hsl(212, 27%, 19%);
$grey-600: hsl(213, 9%, 39%);
$grey-550: hsl(232, 10%, 55%);
$grey-400: hsl(210, 4%, 67%);
$white: hsl(0, 100%, 100%);

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.hidden{
  display: none;
}

.cursor-pointer{
  cursor: pointer;
}

@mixin breakpoint ( $size ){
  @if $size == tablet{
    @media screen and (min-width: 48em) {
      @content;
    }
  }
  @else if $size == desktop{
    @media screen and (min-width: 62em) {
      @content;
    }
  }
}

@mixin text-style($font-familiy, $font-color, $font-weight){
  font-family: $font-familiy;
  color: $font-color;
  font-weight: $font-weight;
}

@mixin button($bg-color,  $text-color, $padding){
  background-color: $bg-color;
  color: $text-color;

  border: none;
  border-radius: 2em;
  font-family: $font-fraunces;
  font-weight: 800;
  text-transform: uppercase;
  padding: $padding;
};

body{
  margin: 0;
  position: relative;
  font-size: 18px;
}

img{
  width: 100%;
}

.page-navi{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.8em 1.3em;
  @include breakpoint(tablet){
    padding: 2.5em 2.0em;
  }

  .logo{
    height: 1.5em;
    width: auto;
  }

  .navi-wrapper{
    #navi-mobile-toggle-btn{
      @include breakpoint(tablet){
        display: none;
      }
    }

    .navi-links-list{
      display: none;
      @include breakpoint(tablet){
        display: flex;
        column-gap: 3em;
      }

      .navi-link{
        text-decoration: none;
        @include text-style($font-barlow, $white, 400);
      }

      #contact-btn{
        @include button($white, $grey-950, 1.2em 1.7em);

        // &:hover{}
      }
    }
  }

  
}

#navi-mobile-wrapper{
  position: absolute;
  top: 100px;
  left: 1.3em;
  right: 1.3em;
  background-color: $white;
  padding-block: 2em;

  nav{
    row-gap: 1.5em;

    a{
      text-decoration: none;
      @include text-style($font-barlow, $grey-550, 600);
    }
  }

  #mobile-contact-btn{
    position: relative;
    @include button($yellow-500,  $grey-950, 1.5em 2.5em);
  }

  &::after{
    content: '';
    width: 24px;
    height: 25px;
    background-color: $white;
    position: absolute;
    top: -24px;
    right: -0.5px;
    clip-path: polygon(
      0 100%,
      100% 100%,
      100% 0,
      0 100%
    );
    border: 1px solid $white;
  }
}