$illustration-ids: image-transform, image-stand-out, image-graphic-design, image-photography;

$gallery-img-ids: image-gallery-milkbottles, image-gallery-orange, image-gallery-cone, image-gallery-sugarcubes;

$font-barlow: 'Barlow', sans-serif;
$font-fraunces: 'Fraunces', sans-serif;

$red-400: hsl(7, 99%, 70%);
$yellow-500: hsl(51, 100%, 49%);
$graphic-design-text: hsl(167, 40%, 24%);
$photography: hsl(198, 62%, 26%);
$footer: hsl(167, 34%, 41%);

$grey-950: hsl(212, 27%, 19%);
$grey-600: hsl(213, 9%, 39%);
$grey-550: hsl(232, 10%, 55%);
$grey-400: hsl(210, 4%, 67%);
$white: hsl(0, 100%, 100%);

.grid{
  display: grid;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.hidden{
  display: none;
}

.cursor-pointer{
  cursor: pointer;
}

@mixin breakpoint ( $size ){
  @if $size == tablet{
    @media screen and (min-width: 48em) {
      @content;
    }
  }
  @else if $size == desktop{
    @media screen and (min-width: 62em) {
      @content;
    }
  }
}

@mixin text-style($font-familiy, $font-color, $font-weight){
  font-family: $font-familiy;
  color: $font-color;
  font-weight: $font-weight;
}

@mixin button($bg-color,  $text-color, $padding){
  background-color: $bg-color;
  color: $text-color;

  border: none;
  border-radius: 2em;
  font-family: $font-fraunces;
  font-weight: 800;
  text-transform: uppercase;
  padding: $padding;
};

body{
  margin: 0;
  position: relative;
  font-size: 18px;
}

img{
  width: 100%;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

.page-navi{
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.8em 1.3em;
  @include breakpoint(tablet){
    padding: 2.5em 2.0em;
  }

  .logo{
    height: 1.5em;
    width: auto;
  }

  .navi-wrapper{
    #navi-mobile-toggle-btn{
      @include breakpoint(tablet){
        display: none;
      }
    }

    .navi-links-list{
      display: none;
      @include breakpoint(tablet){
        display: flex;
        column-gap: 3em;
      }

      .navi-link{
        text-decoration: none;
        @include text-style($font-barlow, $white, 400);
      }

      #contact-btn{
        @include button($white, $grey-950, 1.2em 1.7em);

        &:hover{
          background-color: rgba($color: $white, $alpha: 0.3);
          color: $white;
        }
      }
    }
  }

  
}

#navi-mobile-wrapper{
  position: absolute;
  top: 100px;
  left: 1.3em;
  right: 1.3em;
  background-color: $white;
  padding-block: 2em;
  @include breakpoint(tablet){
    display: none;
  }
  nav{
    row-gap: 1.5em;

    a{
      text-decoration: none;
      @include text-style($font-barlow, $grey-550, 600);
    }
  }

  #mobile-contact-btn{
    position: relative;
    @include button($yellow-500,  $grey-950, 1.5em 2.5em);
  }

  &::after{
    content: '';
    width: 24px;
    height: 25px;
    background-color: $white;
    position: absolute;
    top: -24px;
    right: -0.5px;
    clip-path: polygon(
      0 100%,
      100% 100%,
      100% 0,
      0 100%
    );
    border: 1px solid $white;
  }
}

.page-main{
  .hero-section{
    position: relative;
    @include breakpoint(tablet){
      #hero-img{
        content: url('../images/desktop/image-header.jpg');
      }
    }

    .hero-header{
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;

      h1{
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.2em;
        @include text-style($font-fraunces, $white, 900);
        font-size: 2em;
        margin-block-end: 1.5em;
      }

      img{
        width: 2em;
      }

      @include breakpoint(tablet){
        top: 60%;
      }
      @include breakpoint(desktop){
        top: 45%;
        width: 900px;
        h1{
          font-size: 3em;
        }
        img{
          width: 1.8em;
        }
      }
    }
  }

  .illustration-info-section{
    grid-template-rows: repeat(6, auto);
    @include breakpoint(tablet){
      grid-template-rows: repeat(3, auto);
      grid-template-columns: repeat(2, 1fr);
      .illustration:first-child{
        grid-area: 1 / 2 / 2 / 3;
      }

      &>*:not(.info){
        @each $id in $illustration-ids {
          img##{$id} {
            content: url('../images/desktop/#{$id}.jpg');
            object-fit: contain;
          }
        }
      }
    }

    .info{
      padding: 4em 1.7em;
      text-align: center;
      row-gap: 1.5em;

      .info-header{
        @include text-style($font-fraunces, $grey-950, 900);
        font-size: 1.8em;
      }

      .info-text{
        @include text-style($font-barlow, $grey-550, 600);
        line-height: 1.75;
        font-size: 0.9em;
      }

      .learn-more-btn{
        position: relative;
        background-color: transparent;
        border: none;
        text-transform: uppercase;
        @include text-style($font-fraunces, $grey-950, 700);
        font-size: 0.9em;

        &::after {
          z-index: -1;
          content: '';
          position: absolute;
          transform: translate(-50%, -50%);
          left: 50%;
          bottom: -30%;
          width: 100%;
          height: 10px;
          border-radius: 10px;
          opacity: 0.3;
        }

        &.yellow::after{
          background-color: $yellow-500;
        }

        &.red::after{
          background-color: $red-400;
        }

        &:hover{
          &::after{
            opacity: 1;
          }
        }
      }

      @include breakpoint(tablet){
        text-align: left; 
        align-items: start;
        padding-block: 2em;

        .info-header{
          font-size: 1.5em;
        }

        .info-text{
          font-size: 0.8em;
        }
      }

      @include breakpoint(desktop){
        padding-inline: 8em 6em;

        .info-header{
          font-size: 2.5em;
        }

        .info-text{
          font-size: 1em;
        }
      }
    }

    .illustration-info{
      position: relative;

      .graphic-design{
        h3{
          @include text-style($font-fraunces, $graphic-design-text, 900);
        }
        p{
          @include text-style($font-barlow, $graphic-design-text, 600);
        }
      }

      .photography{
        p{
          @include text-style($font-barlow, $photography, 600);
        }

        h3{
          @include text-style($font-fraunces, $photography, 900);
        }
      }
      section{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 3em 1.3em;
        text-align: center;
        
        h3{
          font-size: 1.5em;
          margin-block-end: 1em;
        }

        p{
          font-size: 0.8em;
          line-height: 1.75;
        }

        @include breakpoint(tablet){
          padding: 2em 2.5em;
          h3{
            font-size: 1.3em;
          }
        }

        @include breakpoint(desktop){
          padding-inline: 11em;
          padding-block-end: 3em;
          h3{
            font-size: 1.7em;
          }
        }
      }
    }
  }

  .client-testimonials-section{
    padding-inline: 1.8em;
    padding-block: 4em;
    row-gap: 4em;
    @include breakpoint(tablet){
      padding-inline: 8em;
    }
    @include breakpoint(desktop){
      padding-block: 7em;
    }
    
    .content{
      row-gap: 4em;

      @include breakpoint(desktop){
        flex-direction: row;
        column-gap: 2.5em;
      }
    }

    &>h4{
      font-size: 0.9em;
      @include text-style($font-fraunces, $grey-400, 700);
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 4px;
      @include breakpoint(desktop){
        font-size: 1.2em;
      }
    }

    .client-testimonial{
      row-gap: 2em;

      .client-pfp{
        width: 4em;
        border-radius: 50%;
      }

      .testimonial-text{
        @include text-style($font-barlow, $grey-600, 600);
        font-size: 0.9em;
        text-align: center;
        line-height: 1.75;
      }

      .client-name{
        @include text-style($font-fraunces, $grey-950, 900);
        font-size: 0.9em;
        margin-block-end: 0.5em;
      }

      .client-profession{
        @include text-style($font-barlow, $grey-400, 600);
        font-size: 0.7em;
      }
    }
  }

  .gallery-section{
    grid-template: repeat(2, auto) / repeat(2, auto);

    @include breakpoint(tablet){
      grid-template: 1fr / repeat(4, auto);

      @each $id in $gallery-img-ids {
        img##{$id} {
          content: url('../images/desktop/#{$id}.jpg');
          object-fit: contain;
        }
      }
    }
  }
}

.page-footer{
  background-color: #91D3C5;
  padding-block: 3.5em;
  padding-inline: 2em;
  row-gap: 2em;

  .footer-logo{
    svg{
      scale: 1.3;
      path{
        fill: $footer;
      }
    }
  }

  .footer-navi{
    width: 100%;
    margin-block-end: 1.5em;
    a{
      text-decoration: none;
      @include text-style($font-barlow, $footer, 600);

      &:hover{
        color: $white;
      }
    }

    @include breakpoint(tablet){
      justify-content: center;
      column-gap: 3em;
    }
  }

  .footer-socials-list{
    margin-block: 1em;
    column-gap: 1.5em;
    svg{
      cursor: pointer;

      &:hover{
        path{
          fill: $white;
        }
      }
    }
  }
}