.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.hidden {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  margin: 0;
  position: relative;
  font-size: 18px;
}

img {
  width: 100%;
}

h1, h2, h3, p {
  margin: 0;
}

.page-navi {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.8em 1.3em;
}
@media screen and (min-width: 48em) {
  .page-navi {
    padding: 2.5em 2em;
  }
}
.page-navi .logo {
  height: 1.5em;
  width: auto;
}
@media screen and (min-width: 48em) {
  .page-navi .navi-wrapper #navi-mobile-toggle-btn {
    display: none;
  }
}
.page-navi .navi-wrapper .navi-links-list {
  display: none;
}
@media screen and (min-width: 48em) {
  .page-navi .navi-wrapper .navi-links-list {
    display: flex;
    column-gap: 3em;
  }
}
.page-navi .navi-wrapper .navi-links-list .navi-link {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  color: hsl(0, 100%, 100%);
  font-weight: 400;
}
.page-navi .navi-wrapper .navi-links-list #contact-btn {
  background-color: hsl(0, 100%, 100%);
  color: hsl(212, 27%, 19%);
  border: none;
  border-radius: 2em;
  font-family: "Fraunces", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1.2em 1.7em;
}

#navi-mobile-wrapper {
  position: absolute;
  top: 100px;
  left: 1.3em;
  right: 1.3em;
  background-color: hsl(0, 100%, 100%);
  padding-block: 2em;
}
@media screen and (min-width: 48em) {
  #navi-mobile-wrapper {
    display: none;
  }
}
#navi-mobile-wrapper nav {
  row-gap: 1.5em;
}
#navi-mobile-wrapper nav a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  color: hsl(232, 10%, 55%);
  font-weight: 600;
}
#navi-mobile-wrapper #mobile-contact-btn {
  position: relative;
  background-color: hsl(51, 100%, 49%);
  color: hsl(212, 27%, 19%);
  border: none;
  border-radius: 2em;
  font-family: "Fraunces", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1.5em 2.5em;
}
#navi-mobile-wrapper::after {
  content: "";
  width: 24px;
  height: 25px;
  background-color: hsl(0, 100%, 100%);
  position: absolute;
  top: -24px;
  right: -0.5px;
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 100%);
  border: 1px solid hsl(0, 100%, 100%);
}

.page-main .hero-section {
  position: relative;
}
@media screen and (min-width: 48em) {
  .page-main .hero-section #hero-img {
    content: url("../images/desktop/image-header.jpg");
  }
}
.page-main .hero-section .hero-header {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.page-main .hero-section .hero-header h1 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  font-family: "Fraunces", sans-serif;
  color: hsl(0, 100%, 100%);
  font-weight: 900;
  font-size: 2em;
  margin-block-end: 1.5em;
}
.page-main .hero-section .hero-header img {
  width: 2em;
}
@media screen and (min-width: 48em) {
  .page-main .hero-section .hero-header {
    top: 60%;
  }
}
@media screen and (min-width: 62em) {
  .page-main .hero-section .hero-header {
    top: 45%;
    width: 900px;
  }
  .page-main .hero-section .hero-header h1 {
    font-size: 3em;
  }
  .page-main .hero-section .hero-header img {
    width: 1.8em;
  }
}
.page-main .illustration-info-section {
  grid-template-rows: repeat(6, auto);
}
@media screen and (min-width: 48em) {
  .page-main .illustration-info-section {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
  }
  .page-main .illustration-info-section .illustration:first-child {
    grid-area: 1/2/2/3;
  }
  .page-main .illustration-info-section > *:not(.info) img#image-transform {
    content: url("../images/desktop/image-transform.jpg");
    object-fit: contain;
  }
  .page-main .illustration-info-section > *:not(.info) img#image-stand-out {
    content: url("../images/desktop/image-stand-out.jpg");
    object-fit: contain;
  }
  .page-main .illustration-info-section > *:not(.info) img#image-graphic-design {
    content: url("../images/desktop/image-graphic-design.jpg");
    object-fit: contain;
  }
  .page-main .illustration-info-section > *:not(.info) img#image-photography {
    content: url("../images/desktop/image-photography.jpg");
    object-fit: contain;
  }
}
.page-main .illustration-info-section .info {
  padding: 4em 1.7em;
  text-align: center;
  row-gap: 1.5em;
}
.page-main .illustration-info-section .info .info-header {
  font-family: "Fraunces", sans-serif;
  color: hsl(212, 27%, 19%);
  font-weight: 900;
  font-size: 1.8em;
}
.page-main .illustration-info-section .info .info-text {
  font-family: "Barlow", sans-serif;
  color: hsl(232, 10%, 55%);
  font-weight: 600;
  line-height: 1.75;
  font-size: 0.9em;
}
.page-main .illustration-info-section .info .learn-more-btn {
  position: relative;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-family: "Fraunces", sans-serif;
  color: hsl(212, 27%, 19%);
  font-weight: 700;
  font-size: 0.9em;
}
.page-main .illustration-info-section .info .learn-more-btn::after {
  z-index: -1;
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: -30%;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  opacity: 0.3;
}
.page-main .illustration-info-section .info .learn-more-btn.yellow::after {
  background-color: hsl(51, 100%, 49%);
}
.page-main .illustration-info-section .info .learn-more-btn.red::after {
  background-color: hsl(7, 99%, 70%);
}
@media screen and (min-width: 48em) {
  .page-main .illustration-info-section .info {
    text-align: left;
    align-items: start;
    padding-block: 2em;
  }
  .page-main .illustration-info-section .info .info-header {
    font-size: 1.5em;
  }
  .page-main .illustration-info-section .info .info-text {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 62em) {
  .page-main .illustration-info-section .info {
    padding-inline: 8em 6em;
  }
  .page-main .illustration-info-section .info .info-header {
    font-size: 2.5em;
  }
  .page-main .illustration-info-section .info .info-text {
    font-size: 1em;
  }
}
.page-main .illustration-info-section .illustration-info {
  position: relative;
}
.page-main .illustration-info-section .illustration-info section {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4em 1.7em;
  text-align: center;
}
.page-main .illustration-info-section .illustration-info section h3 {
  font-family: "Fraunces", sans-serif;
  color: hsl(167, 40%, 24%);
  font-weight: 900;
  font-size: 1.5em;
  margin-block-end: 1em;
}
.page-main .illustration-info-section .illustration-info section p {
  font-family: "Barlow", sans-serif;
  color: hsl(167, 40%, 24%);
  font-weight: 600;
  font-size: 0.8em;
  line-height: 1.75;
}
@media screen and (min-width: 48em) {
  .page-main .illustration-info-section .illustration-info section {
    padding: 2em 2.5em;
  }
  .page-main .illustration-info-section .illustration-info section h3 {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 62em) {
  .page-main .illustration-info-section .illustration-info section {
    padding-inline: 11em;
    padding-block-end: 3em;
  }
  .page-main .illustration-info-section .illustration-info section h3 {
    font-size: 1.7em;
  }
}/*# sourceMappingURL=styles.css.map */